<main >
    <section class="trainer">
        <div>
            <h1>Coaches</h1>
        </div>
        <div class="error" *ngIf="errors" >Error loading coaches!</div>

         <div class="loader" *ngIf="loading">Loading....</div>
        <article >
            <div class="couch"  *ngFor="let trainer of coaches" >
               <div class="div-img">
                <img src={{trainer.imageUrl}} alt="coauch" >
               </div>
               <article class="art">
                    <h2>{{trainer.name}}</h2>
                    <p>{{trainer.description}}</p>
                    <p>Experience: {{trainer.year}}</p>
               </article>
            </div>
        </article>
        
    </section>
    <a href="#"(click)="onClick()" *ngIf="btn" @loader @loaderOut class="show"><i class="fa-solid fa-arrow-up"></i></a>
</main>
