<ng-container>
  <section class="form">
    <div class="img">
      <img src="../../../assets/trainer2.jpg" alt="trainer" />
    </div>
    <form
      class="fild"
      #loginForm="ngForm"
      (ngSubmit)="handlerLogin(loginForm)"
    >
      <h1>Login Form</h1>

      <div class="input">
        <label for="email"><i class="fa-solid fa-envelope"></i> Email</label>
        <input
          type="text"
          #inputEmail="ngModel"
          required
          id="email"
          ngModel
          [appEmail]="['com', 'bg']"
          name="email"
          placeholder="dog@gmail.com"
        />
        <ng-container *ngIf="inputEmail.touched"
          ><p class="error" *ngIf="inputEmail.errors?.['required']">
            Email is required !
          </p>

          <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
            Email is not valid !
          </p>
        </ng-container>
      </div>
      <div class="input">
        <label for="password"><i class="fa-solid fa-lock"></i> Password</label>
        <input
          type="password"
          #inputPass="ngModel"
          id="password"
          placeholder="*****"
          ngModel
          name="password"
          [minlength]="4"
          required
        />
        <ng-container *ngIf="inputPass.touched">
          <p class="error" *ngIf="inputPass.errors?.['required']">
            Password is required !
          </p>
          <p class="error" *ngIf="inputPass.errors?.['minlength']">
            The given password should be at least 4 characters !
          </p>
        </ng-container>
      </div>

      <div class="submit">
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </section>
</ng-container>
