.form {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 65vh;
  width: 50%;
}
.form div:first-child {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  border: solid 2px #0284c7;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.form div > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-shadow: 4px 8px 7px -4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  filter: brightness(90%);
}
.form .fild {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  border: solid 2px #0284c7;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fild > h1 {
  text-align: center;
}
.input {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.error {
  position: absolute;
  text-align: center;
  top: 110%;
  left: 5%;
}
.submit {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.submit button {
  padding: 10px 30px;
  background-color: white;
  border: solid 2px #0284c7;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  font-size: 16px;
  color: #0284c7;
  letter-spacing: 1px;
  font-weight: bolder;
}
input {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  border: solid 2px #0284c7;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
label {
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 1px;
  color: #0284c7;
}
@media (min-width: 800px) {
  input{
    font-size: 12px;
  }
  .submit{
    margin-top: 23px;
  }
 
  label{
    font-size: 12px;
    margin-top: 5px;
    padding: 5px 15px;
  }
  .error{
    left: 8%;
    font-size: 14px;
  }
  .submit button {
    font-size: 12px;
  }
  h1{
    font-size: 14px;
  }
  .form .fild{
    gap: 10px;
  }
}

