<main>
  <section class="form">
    <div class="img">
      <img src="../../../assets/Sean-1.jpg" alt="trainer" />
    </div>
    <form class="fild" action="#">
      <h1>Register Form</h1>
       
      <div class="input">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="dog@gmail.com" />
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="*****" />
      </div>
      <div class="input">
        <label for="re-pass">Repeat Password</label>
        <input type="password" id="re-pass" placeholder="*****" />
      </div>

      <div class="submit" >
        <button  type="submit">Register</button>
      </div>
    </form>
  </section>
</main>
