<main>
  <section class="form">
    <div class="img">
      <img src="../../../assets/Sean-1.jpg" alt="trainer" />
    </div>
    <form class="fild" #regForm="ngForm" (ngSubmit)="register(regForm)">
      <h1>Register Form</h1>
       
      <div class="input">
        <label for="email">Email</label>
        <input  type="text" id="email" placeholder="dog@gmail.com" ngModel name="email"/>
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="*****" ngModel name="password"/>
      </div>
      <div class="input">
        <label for="repass">Repeat Password</label>
        <input  type="password" id="repass" placeholder="*****" ngModel name="repass"/>
      </div>

      <div class="submit" >
        <button type="submit">Register</button>
      </div>
    </form>
    {{regForm.value | json }}
  </section>
</main>
