<main>
  <section class="art">
    <div>
      <img
        src="../../assets/trainer.png"
        alt="dog"
      />
    </div>
    <div class="text">
      <h1>SUPER DOG ACADEMIA</h1>
      <p>
        Super-Dog-Academia is your home for the most comprehensive, accessible,
        and effective dog training in Bulgaria.Super-Dog Academia-certified
        trainers with more than 3 years of experience - all of whom are deeply
        passionate about dogs and how they can improve lives.We have courses for:
        Police dogs, Guide dogs and Guard dogs.
      </p>
      <article class="contact">
        <ul>
          <li><i class="fa-solid fa-phone"> </i>  Phone number: 088 666 6666</li>
          <li><i class="fa-solid fa-envelope"> </i>  Email: super-dog-academia@gmail.com</li>
          <li><i class="fa-solid fa-location-dot"> </i>  Address:  Patriarh Evtimii Str., Sofia, Bulgaria</li>
        </ul>
      </article>
     
    </div>
    
  </section>
</main>
