.show {
  background: linear-gradient(#00ff04, #09aad3);
  position: fixed;
  width: 50px;
  height: 50px;
  right: 2rem;
  bottom: 2rem;
  text-align: center;
  color: #09aad3;
  align-items: center;
  border-radius: 5px;
}
i {
  margin-top: 5px;
  font-size: 32px;
  justify-content: center;
  color: white;
  
}
