<header>
  <div class="container-head">
    <div>
      <a href="/">
        <img
          class="logo"
          type="image"
          src="../../../assets/dog.jpg"
          alt="{{ imageAlt }}"
        />
      </a>
      <h1>Super Dog Academia</h1>
    </div>
    <div class="nav">
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Gallery</a></li>
          <li *ngIf="guest"><a href="">Login</a></li>
          <li *ngIf="guest"><a href="">Register</a></li>
          <li *ngIf="user"><a href="">Coures</a></li>
          <li *ngIf="user"><a href="">Coaches</a></li>
          <li *ngIf="user"><a href="">Logout</a></li>
        </ul>
      </nav>
    </div>
    <div class="icons">
      <a href="">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-square-twitter"></i>
      </a>
    </div>
  </div>
</header>
