<header #header class="header">
  <div class="container-head">
    <div>
      <a routerLink="/">
        <img
          class="logo"
          type="image"
          src="../../../assets/dog.jpg"
          alt="{{ imageAlt }}"
        />
      </a>
      <h1>Super Dog Academia</h1>
    </div>
    <div class="nav">
      <nav>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/gallery">Gallery</a></li>
          <li *ngIf="!isLogged"><a routerLink="/auth/login">Login</a></li>
          <li *ngIf="!isLogged"><a routerLink="/auth/register">Register</a></li>
          <li *ngIf="isLogged"><a routerLink="/courses">Courses</a></li>
          <li *ngIf="isLogged"><a routerLink="/coaches">Coaches</a></li>
          <li *ngIf="isLogged" ><a (click)="logout()">Logout</a></li>
        </ul>
      </nav>
    </div>
    <div class="icons">
      <a routerLink="">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a routerLink="">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a routerLink="">
        <i class="fa-brands fa-square-twitter"></i>
      </a>
    </div>
  </div>
</header>
