
.load {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   font-weight: bolder;
   font-size: 24px;
   letter-spacing: 1px;
   color: #09aad3;
}
.lds-circle {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: flex;
    text-align: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: linear-gradient(#00ff04, #09aad3);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  
